.nav-container {
  // background-color: rgba(255, 255, 255, 0.166);
  // width: 100%;
  // padding: 10px;
  height: 7vh;
// align-items: center;
  background-color: #292933;

  a {
    text-decoration: none;
    color: rgb(172, 172, 172);
    font-size: 1.3rem;
    // align-items: center;
    
    // &:not(:first-child) {
      margin-left: 10px;
    // }
  }
  
  // .nav-txt {
  //   font-size: 1rem;
  //   margin-left: 5px;
  //   // align-items: center;
  // }

  .active-nav {
    color: white;
    cursor: auto;
  }

  img {
    max-width: 35px;
    cursor: pointer;
  }
}
