<section class="home-page-container flex column align-center">
    <!-- <h2>Home is Home</h2> -->
    <!-- <img src="../../../assets/img/logo.jpg" alt=""> -->
    <div class="hero-title flex space-between align-center">
        <div>
            <h1>Good traveler?</h1>
            <h1>Share your <span> places</span></h1>
            <a routerLink="/place">     
                <button>Find new places</button>
            </a>
        </div>
            <img src="../../../assets/img/undraw_map.svg" alt="">
        </div>
</section>