<section class="place-preview">
    <div class="place-title flex space-between">
        <h2>{{place?.title}}</h2>
        
        <div class="content-option">
            <button [ngClass]="{active: isMap}" (click)="isMap=true">Map</button>
            <button [ngClass]="{active: !isMap}" (click)="isMap=false">Image</button>
        </div>
    </div>
    <map *ngIf="isMap"></map>
    <img *ngIf="!isMap" [src]="place?.imgUrl" alt="" />
    <p class="date">{{place?.createdAt | date}}</p>
    <p class="desc">{{place?.description}}</p>

    <div class="text-center">
        <ng-content></ng-content>
    </div>
</section>