.place-preview {
    text-align: center;
    background-color: rgba(121, 128, 192, 0.788);
    border-radius: 10px;
    min-height: 90vh;
    padding: 20px;
    margin: 0 auto;
    cursor: pointer;
    width: 800px;
}

hr {
    color: whitesmoke;
    width: 80%;
}

